.coming {
  text-align: center;

  img {
    display: block;
    margin: 0 auto 30px;
  }
}

.coming-title {
  color: #fff;
  font-family: $font-black;
  font-size: 18px;
  margin-bottom: 40px;
  text-transform: uppercase;

  @media (min-width: 768px) {
    font-size: 26px;
  }
}

.coming-subtitle,
.coming-desc {
  color: #fff;
  font-size: 17px;
}

.coming-subtitle {
  font-family: $font-book;
  margin-bottom: 5px;
}

.coming-desc {
  color: #aaa;
  font-size: 14px;
  line-height: 1.2;

  @media (min-width: 768px) {
    font-size: 16px;
  }

  span {
    color: #fff;
    font-family: $font-book;
  }
}