.footer {
  text-align: center;
  padding: 50px 0 200px;
}

.footer-title {
  color: #ffb339;
  font-family: $font-black;
  font-size: 12px;
  letter-spacing: 8px;
  margin-bottom: 30px;
  text-transform: uppercase;

  @media (min-width: 768px) {
    font-size: 20px;
    letter-spacing: 15px;
    margin-bottom: 60px;
  }
}

.footer-medias {
  margin-bottom: 80px;
  text-align: center;

  @media (min-width: 768px) {
    margin-bottom: 110px;
  }

  li {
    display: inline-block;
    margin: 0 6px;
    vertical-align: middle;
    width: 55px;
    @include transition(transform .26s);

    &:hover {
      @include transform(scale(.9));
    }

    a {
      display: block;
    }
  }
}

.footer-contact {
  text-align: center;
}

.footer-contact-title,
.footer-contact-copyright {
  color: #ffffff;
  display: inline-block;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.footer-contact-title {
  font-size: 12px;
  margin-bottom: 15px;
  background: url('../img/content/envelope.png') no-repeat center top;
  padding-top: 38px;
  @include background-size(35px);
  @include transition(background-size .26s);

  &:hover {
    color: #ffffff;
    text-decoration: none;
    @include background-size(40px);
  }
}

.footer-contact-copyright {
  display: block;
  font-size: 7px;
  opacity: .5;
}