html, body, .header {
  height: 100%;
}

body {
  position: relative;

  &:after {
    background-image: linear-gradient(transparent, #000 40%);
    bottom: 0;
    content: "";
    display: block;
    height: 150px;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 1;
  }
}

.header {
  background: url('../img/content/bg-header-mobile.jpg') no-repeat center top;
  color: #fff;
  padding: 30px 0 225px;
  position: relative;
  text-align: center;
  @include background-size(cover);

  @media (min-width: 420px) {
    background-image: url('../img/content/bg-header.jpg');
  }

  &:after {
    background-image: linear-gradient(transparent, #000 40%);
    bottom: 0;
    content: "";
    display: block;
    height: 150px;
    left: 0;
    position: absolute;
    right: 0;
    z-index: 1;

    @media (min-width: 768px) {
    // background-image: linear-gradient(transparent, #000);
      // height: 100px;
      // position: absolute;
    }
  }
}

.header-brand,
h1.header-brand {
  line-height: 1;

  img {
    width: 120px;

    @media (min-width: 768px) {
      width: 180px;
    }
  }
}

.header-content {

  @media (min-width: 768px) {
    // left: 15px;
    // bottom: 0;
    // position: absolute;
    // right: 15px;
    // top: 0;
    // z-index: 2;
  }
}

.header-title {
  color: #fff;
  font-size: 20px;
  font-family: $font-black;
  line-height: 2;
  letter-spacing: 5px;
  margin-bottom: 80px;
  text-transform: uppercase;
  width: 100%;
  left: 50%;
  position: absolute;
  top: 50%;
  @include transform(translate(-50%, -50%));

  @media (min-width: 768px) {
    font-size: 35px;
    letter-spacing: 15px;
  }
}

.header-form {
  bottom: 30px;
  display: block;
  left: 15px;
  margin: 0 auto;
  position: fixed;
  right: 15px;
  z-index: 2;

  @media (min-width: 768px) {
    bottom: 50px;
    max-width: 380px;
    // position: absolute;
  }

  label {
    color: #fff;
    display: block;
    font-size: 10px;
    margin-bottom: 10px;
    opacity: 1;
    visibility: visible;
    @include transition(opacity .3s, visibility .3s);

    @media (min-width: 768px) {
      font-size: 12px;
    }

    &.fade-out {
      opacity: 0;
      visibility: hidden;
    }
  }

  input {
    background-color: #000;
    border: 1px solid #787878;
    color: lighten(#787878, 30);
    display: block;
    font-family: $font-thin;
    font-size: 12px;
    line-height: 42px;
    padding-left: 10px;
    padding-right: 102px;
    text-align: center;
    width: 100%;
    @include border-radius(50px);
    @include transition(border-color .26s);

    @media (min-width: 768px) {
      background-color: transparent;
      font-size: 17px;
    }

    &:focus {
      border-color: lighten(#787878, 20);
    }

    &::-webkit-input-placeholder {
      color: #888;
    }

    &::-moz-placeholder {
      color: #888;
    }

    &:-ms-input-placeholder {
      color: #888;
    }

    &:-moz-placeholder {
      color: #888;
    }
  }

  button {
    background-color: #ffb339;
    border: none;
    bottom: 6px;
    color: #000;
    font-family: $font-black;
    font-size: 12px;
    height: 34px;
    // line-height: 34px;
    padding: 10px 10px;
    position: absolute;
    right: 6px;
    text-transform: uppercase;
    width: 90px;
    white-space: nowrap;
    @include border-radius(60px);
    @include transition(background-color .26s);

    &:hover {
      background-color: darken(#ffb339, 10);
    }

    &[disabled] {
      cursor: not-allowed;
    }
  }
}

.form-msg {
  display: none;
  bottom: -20px;
  font-size: 12px;
  left: 0;
  position: absolute;
  right: 0;
}