.modal {
  left: 50%;
  min-width: 260px;
  opacity: 0;
  overflow: hidden;
  position: fixed;
  top: 50%;
  visibility: hidden;
  z-index: 10;
  @include border-radius(30px);
  @include transform(translate(-50%, -60%));
  @include transition(opacity .3s, transform .3s, visibility .3s);
}

.modal-open {
  overflow: hidden;

  .modal {
    opacity: 1;
    visibility: visible;
    @include transform(translate(-50%, -50%));
  }
}

.modal-header {
  background-color: #ecb246;
}

.modal-title {
  font-family: $font-black;
  font-size: 20px;
  padding: 40px 15px;
  text-align: center;
}

.modal-body {
  background-color: #fff;
  padding: 40px 15px;
  text-align: center;

  p {
    font-family: $font-book;
  }
}

.modal-close {
  background-color: #952b34;
  border: none;
  color: #fff;
  font-family: $font-book;
  font-size: 10px;
  line-height: 1;
  margin-top: 10px;
  padding: 14px 20px 8px;
  text-transform: uppercase;
  @include border-radius(50px);
  @include transition(background-color .26s);

  &:hover {
    background-color: darken(#952b34, 5);
  }
}