.services {
  padding-top: 150px;
  position: relative;

  &:before {
    background-color: #fff;
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    opacity: .1;
    position: absolute;
    width: 80px;
    @include transform(translateX(-50%));
  }
}

.services-desc,
.services-desc2 {
  color: #f8f8f8;
  text-align: center;
}

.services-desc {
  font-family: $font-black;
  font-size: 18px;
  margin-bottom: 10px;

  @media (min-width: 768px) {
    font-size: 25px;
  }
}

.services-desc2 {
  font-size: 16px;
  margin-bottom: 40px;

  @media (min-width: 768px) {
    font-size: 22px;
  }
}

.service-item {
  background-position: center top;
  background-color: #111111;
  background-repeat: no-repeat;
  margin-bottom: 15px;
  padding: 170px 15px 60px;
  text-align: center;
  @include border-radius(30px);

  @media (min-width: 768px) {
    margin-bottom: 0;
  }

  &.content {
    background-image: url('../svg/calendar.svg');
    background-position-y: 57px;
    @include background-size(65px);
  }

  &.watch {
    background-image: url('../svg/devices.svg');
    background-position-y: 57px;
    @include background-size(70px);
  }

  &.learn {
    background-image: url('../svg/peoples.svg');
    background-position-y: 47px;
    @include background-size(60px);
  }
}

.services-item-title {
  color: #ffb339;
  font-family: $font-black;
  font-size: 20px;
  line-height: 1;
  text-transform: uppercase;
}