.icon {
  background-image: url('../img/sprite/sprite.png');
  background-repeat: no-repeat;
  display: inline-block;
  line-height: normal;
}

@mixin sprite($positionX, $positionY, $width, $height) {
  background-position: $positionX $positionY;
  height: $height;
  width: $width;
}

.icon-brand {
  @include sprite(0, 0, 289px, 38px);
}

.icon-calendar {
  @include sprite(0, -38px, 117px, 121px);
}

.icon-devices {
  @include sprite(-117px, -38px, 137px, 127px);
}

.icon-peoples {
  @include sprite(0, -165px, 111px, 145px);
}

.icon-facebook {
  @include sprite(0, -310px, 110px, 110px);
}

.icon-twitter {
  @include sprite(0, -310px, 110px, 110px);
}

.icon-instagram {
  @include sprite(0, -310px, 110px, 110px);
}

.icon-youtube {
  @include sprite(0, -310px, 110px, 110px);
}

.icon-envelope {
  @include sprite(0, 0, 289px, 38px);
}