
@font-face {
  font-family: 'GothamThin';
  src: url('../fonts/GothamThin/Gotham-Thin.eot?#iefix') format('embedded-opentype'),  url('../fonts/GothamThin/Gotham-Thin.otf')  format('opentype'),
	     url('../fonts/GothamThin/Gotham-Thin.woff') format('woff'), url('../fonts/GothamThin/Gotham-Thin.ttf')  format('truetype'), url('Gotham-Thin.svg#Gotham-Thin') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamBook';
  src: url('../fonts/GothamBook/Gotham-Book.eot?#iefix') format('embedded-opentype'),  url('../fonts/GothamBook/Gotham-Book.woff') format('woff'), url('../fonts/GothamBook/Gotham-Book.ttf')  format('truetype'), url('../fonts/GothamBook/Gotham-Book.svg#Gotham-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamBlack';
  src: url('../fonts/GothamBlack/GothamBlack.eot?#iefix') format('embedded-opentype'),  url('../fonts/GothamBlack/GothamBlack.woff') format('woff'), url('../fonts/GothamBlack/GothamBlack.ttf')  format('truetype'), url('../fonts/GothamBlack/GothamBlack.svg#GothamBlack') format('svg');
  font-weight: normal;
  font-style: normal;
}