h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: inherit;
}

ul, ol {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

p {
  margin: 0 0 10px;
}

strong, label {
  font-weight: normal;
}

button, input, a {
  outline: none;

  &:focus {
    outline: none;
  }
}